{% extends 'base.html.twig' %}

{% set page = 'event' %}
{% block title %}Intervention{% endblock %}
{% block pageTitle %}Intervention{% endblock %}
{% block pageSubTitle %}{{ rescue.event.date | date('d/m/Y') }} {{ rescue.time | date('H:i') }}{% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-12">
        <div class="box">
            <form action="{{ path('rescue-edit', {'id': rescue.id}) }}" method="post">
                <div class="box-body">
                    {{ form_errors(form) }}
                    {{ form_row(form.time) }}
                    {{ form_row(form.type) }}
                    {{ form_row(form.provider) }}
                    {{ form_row(form.evacuationProvider) }}
                    {{ form_rest(form) }}
                </div>
                <div class="box-footer">
                    <button type="submit" class="btn btn-primary">Editer</button>
                    <a href="{{ path('rescue-delete', {'id': rescue.id}) }}" class="btn btn-danger pull-right">
                        <i class="fa fa-trash"></i> {{ 'common.delete'|trans }}
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block stylesheets %}{% endblock %}
{% block javascripts %}{% endblock %}
