{% extends 'base.html.twig' %}

{% set page = 'event' %}
{% block title %}Événements{% endblock %}
{% block pageTitle %}Événements{% endblock %}
{% block pageSubTitle %}{{ event.date | date('d/m/Y') }}{% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-12">
        <div class="box">
            <form action="{{ path('event-edit', {'id': event.id}) }}" method="post">
                <div class="box-body">
                    {{ form_errors(form) }}
                    {{ form_row(form.date) }}
                    {{ form_row(form.description) }}
                    {{ form_row(form.privateDescription) }}
                    {{ form_rest(form) }}
                </div>
                <div class="box-footer">
                    <button type="submit" class="btn btn-primary">Editer</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block stylesheets %}{% endblock %}
{% block javascripts %}{% endblock %}
