{% extends 'base.html.twig' %}

{% set page = 'event' %}
{% block title %}Événements{% endblock %}
{% block pageTitle %}Événements{% endblock %}
{% block pageSubTitle %}
    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('event-create') }}" class="btn btn-success btn-xs">Ajouter</a>
    {% endif %}
{% endblock %}

{% block body %}
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-body no-padding">
                        <table class="table table-bordered">
                            <tbody>
                                <tr>
                                    <th>Date</th>
                                    <th>Intervention</th>
                                    <th>Évacuation</th>
                                    {% if is_granted('ROLE_ADMIN') %}
                                        <th></th>
                                    {% endif %}
                                </tr>
                                {% for event in events %}
                                    <tr>
                                        <td>
                                            <a href="{{ path('event-detail', {'id': event.id}) }}">{{ event.date | date('d/m/Y') }}</a>
                                        </td>
                                        <td>
                                            {{ event.rescues | length }}
                                        </td>
                                        <td>
                                            {{ event.countTransport }}
                                        </td>
                                        {% if is_granted('ROLE_ADMIN') %}
                                            <td>
                                                <a href="{{ path('event-edit', {'id': event.id}) }}">
                                                    <i class="fa fa-pencil-square-o"></i>
                                                </a>
                                                <a href="{{ path('event-delete', {'id': event.id}) }}">
                                                    <i class="fa fa-trash"></i>
                                                </a>
                                            </td>
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block stylesheets %}{% endblock %}
