{% extends 'base.html.twig' %}

{% set page = 'event' %}
{% block title %}Événements{% endblock %}
{% block pageTitle %}Événements{% endblock %}
{% block pageSubTitle %}
    <a href="{{ path('event-create') }}" class="btn btn-success btn-xs">Ajouter</a>
    <a href="{{ path('events-print') }}" class="btn btn-xs btn-default" target="_blank">
        <i class="fa fa-print"></i>
    </a>
{% endblock %}

{% block body %}
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-body no-padding">
                        <table class="table table-bordered">
                            <tbody>
                                <tr>
                                    <th>Date</th>
                                    <th>Intervention</th>
                                    <th>Évacuation</th>
                                    <th></th>
                                </tr>
                                {% for event in events %}
                                    <tr>
                                        <td>
                                            <a href="{{ path('event-detail', {'id': event.id}) }}">{{ event.date | date('d/m/Y') }}</a>
                                        </td>
                                        <td>
                                            {{ event.rescues | length }}
                                        </td>
                                        <td>
                                            {{ event.countTransport }}
                                        </td>
                                        <td>
                                            <a href="{{ path('event-edit', {'id': event.id}) }}">
                                                <i class="fa fa-pencil-square-o"></i>
                                            </a>
                                            <a href="{{ path('event-delete', {'id': event.id}) }}">
                                                <i class="fa fa-trash"></i>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block stylesheets %}{% endblock %}
