<html>
<head>
    <title>Bilan D'activité</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>
        body {
            margin: 5%;
        }
        * {
            font-family: Arial, serif;
        }
        h1 {
            color: #FFFFFF;
            background-color: #004080;
            padding: 10px;
            text-align: center;
            font-family: Poppins, serif;
        }
        h2 {
            color: #004080;
            border-bottom: #004080 solid 1px;
            font-family: Poppins, serif;
        }
        h3 {
            color: #F08700;
            margin-bottom: 5px;
            font-family: Poppins, serif;
        }
        table {
            margin: auto;
            width: 80%;
            border-collapse: collapse;
        }
        td, th {
            border: solid 1px #000;
        }
        .private-description {
            padding-left: 5px;
            border-left: 1px #F08700 solid;
        }
    </style>
</head>
<body>
    <h1>Bilan des activités au Hangar à Bananes</h1>
    <p>Dans le cadre de l’expérimentation des postes de secours au Hangar à Bananes, un suivi des activités est réalisé avec une répartition par émetteurs et par types.</p>
    {% for event in events %}
        <div style="page-break-inside:avoid;">
            <h2>Poste du {{ event.date | date('d/m/Y') }}</h2>
            <p>
                La Protection Civile a réalisé {{ 'event.print.rescue'|transchoice(event.rescues|length) }} et {{ 'event.print.evacuation'|transchoice(event.countTransport) }}.<br>
                {% if event.rescueWithNoCare %}
                    {{ 'event.print.rescueWithNoCare'|transchoice(event.rescueWithNoCare) }}
                {% endif %}
            </p>
            {% if event.description %}
                <p>{{ event.description|nl2br }}</p>
            {% endif %}
            {% if private %}
                <p class="private-description">{{ event.privateDescription|nl2br }}</p>
            {% endif %}
            {% if event.getProviderStat|length %}
                <h3>Répartition des interventions par sources </h3>
                <table>
                    <thead>
                        <tr>
                            <th>{{ 'event.print.column.provider'|trans }}</th>
                            <th>{{ 'event.print.column.rescueCount'|trans }}</th>
                            <th>{{ 'event.print.column.evacuationCount'|trans }}</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for stat in event.getProviderStat %}
                        <tr>
                            <td>{{ stat.provider.name }}</td>
                            <td>{{ stat.rescue }}</td>
                            <td>{{ stat.transport }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}
            {% if event.getTypeStat|length %}
                <h3>Répartition des interventions par type</h3>
                <table>
                    <thead>
                        <tr>
                            <th>{{ 'event.print.column.type'|trans }}</th>
                            <th>{{ 'event.print.column.rescueCount'|trans }}</th>
                            <th>{{ 'event.print.column.evacuationCount'|trans }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for stat in event.getTypeStat %}
                        <tr>
                            <td>{{ stat.type.name }}</td>
                            <td>{{ stat.rescue }}</td>
                            <td>{{ stat.transport }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
            {% if event.getEvacuationStat|length %}
                <h3>Répartition des interventions par vecteur d'évacuation</h3>
                <table>
                    <thead>
                        <tr>
                            <th>{{ 'event.print.column.evacuationProvider'|trans }}</th>
                            <th>{{ 'event.print.column.evacuationCount'|trans }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for stat in event.getEvacuationStat %}
                            <tr>
                                <td>{{ stat.provider.name }}</td>
                                <td>{{ stat.transport }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    {% endfor %}
</body>
</html>
