{% extends 'base.html.twig' %}

{% set page = 'event' %}
{% block title %}Événements{% endblock %}
{% block pageTitle %}Événements{% endblock %}
{% block pageSubTitle %}{{ event.date | date('d/m/Y') }}{% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Interventions</h3>
                <div class="box-tools pull-right">
                    <a href="{{ path('rescue-create', {'id': event.id}) }}" class="btn btn-sm btn-success">Ajout</a>
                </div>
            </div>
            <div class="box-body no-padding">
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <th>Heure</th>
                            <th>Type</th>
                            <th>Provenance</th>
                            <th>Évacuation</th>
                            <th></th>
                        </tr>
                        {% for rescue in event.rescues %}
                            <tr>
                                <td>
                                    {{ rescue.time | date('H:i') }}
                                </td>
                                <td>
                                    {{ rescue.type.name }}
                                </td>
                                <td>
                                    {{ rescue.provider.name }}
                                </td>
                                <td>
                                    {% if rescue.transport %}
                                        Oui
                                    {% else %}
                                        Non
                                    {% endif %}
                                </td>
                                <td>
                                    <a class="test" data-toggle="modal" data-target="#myModal" data-lat="{{ rescue.lat }}" data-lon="{{ rescue.lon }}">
                                        <i class="fa fa-map"></i>
                                    </a>
                                    <a href="{{ path('rescue-edit', {'id': rescue.id}) }}">
                                        <i class="fa fa-pencil-square-o"></i>
                                    </a>
                                    <a href="{{ path('rescue-delete', {'id': rescue.id}) }}">
                                        <i class="fa fa-trash"></i>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Type d'intervention</h3>
            </div>
            <div class="box-body">
                <canvas id="typeChart" width="200" height="200"></canvas>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Provenance</h3>
            </div>
            <div class="box-body">
                <canvas id="fromChart" width="200" height="200"></canvas>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Évacuation</h3>
            </div>
            <div class="box-body">
                <canvas id="transportChart" width="200" height="200"></canvas>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Carte</h4>
            </div>
            <div>
                <div id="mapid" style="width: 600px; height: 340px;"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block stylesheets %}{% endblock %}
{% block javascripts %}
<script type="text/javascript">
    $(document).ready(function () {

        colors = ["#3c8dbc",
            "#f56954",
            "#00a65a",
            "#00c0ef",
            "#f39c12",
            "#0073b7",
            "#001F3F",
            "#39CCCC",
            "#3D9970",
            "#01FF70",
            "#FF851B",
            "#F012BE",
            "#8E24AA",
            "#D81B60",
            "#222222",
            "#d2d6de"
        ];

        mymap = L.map('mapid').setView([47.204, -1.567], 15);
        marker = undefined;
        L.tileLayer('https://api.mapbox.com/styles/v1/mapbox/streets-v10/tiles/256/{z}/{x}/{y}?access_token={accessToken}', {
            attribution: '',
            maxZoom: 19,
            accessToken: 'pk.eyJ1IjoiZmwwcyIsImEiOiJjaXZ2ZmlnN2YwMDBqMm9vNHliNTlidmJiIn0.F4BOrY5jrHJYDpHR-m_73Q'
        }).addTo(mymap);

        $('#myModal').on('shown.bs.modal', function(){
            setTimeout(function() {
                mymap.invalidateSize();
            }, 1);
        });

        $(document).on('click', '.test', function() {
            var lat = $(this).data('lat');
            var lon = $(this).data('lon');

            if (marker) {
                marker.remove();
            }
            marker = L.marker([lat, lon]).addTo(mymap);
        });


        new Chart($("#typeChart"),{
            type: 'pie',
            data: {
                labels: {{ types | keys |json_encode|raw }},
                datasets: [
                    {
                        data: [{{ types | join(',') }}],
                        backgroundColor: colors,
                        hoverBackgroundColor: colors,
                    }]
            },
        });

        new Chart($("#transportChart"),{
            type: 'pie',
            data: {
                labels: {{ transport | keys |json_encode|raw }},
                datasets: [
                    {
                        data: [{{ transport | join(',') }}],
                        backgroundColor: colors,
                        hoverBackgroundColor: colors,
                    }]
            },
        });

        new Chart($("#fromChart"),{
            type: 'pie',
            data: {
                labels: {{ provider | keys |json_encode|raw }},
                datasets: [
                    {
                        data: [{{ provider | join(',') }}],
                        backgroundColor: colors,
                        hoverBackgroundColor: colors,
                    }]
            },
        });
    });
</script>
{% endblock %}
