{% extends 'base.html.twig' %}

{% set page = 'event' %}
{% block title %}Événements{% endblock %}
{% block pageTitle %}Événements{% endblock %}
{% block pageSubTitle %}{{ event.date | date('d/m/Y') }}{% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-4">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Type d'intervention</h3>
            </div>
            <div class="box-body">
                <canvas id="typeChart" width="200" height="200"></canvas>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Évacuation</h3>
            </div>
            <div class="box-body">
                <canvas id="transportChart" width="200" height="200"></canvas>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Provenance</h3>
            </div>
            <div class="box-body">
                <canvas id="fromChart" width="200" height="200"></canvas>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-body">
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <th>Heure</th>
                            <th>Type</th>
                            <th>Évacuation</th>
                            <th></th>
                        </tr>
                        {% for rescue in event.rescues %}
                            <tr>
                                <td>
                                    {{ rescue.time | date('H:i') }}
                                </td>
                                <td>
                                    {{ rescue.type.name }}
                                </td>
                                <td>
                                    {% if rescue.transport %}
                                        Oui
                                    {% else %}
                                        Non
                                    {% endif %}
                                </td>
                                <td></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block stylesheets %}{% endblock %}
{% block javascripts %}
<script type="text/javascript">
    $(document).ready(function () {
        new Chart($("#typeChart"),{
            type: 'pie',
            data: {
                labels: {{ types | keys |json_encode|raw }},
                datasets: [
                    {
                        data: [{{ types | join(',') }}],
                        backgroundColor: [
                            "#FF6384",
                            "#36A2EB",
                            "#FFCE56"
                        ],
                        hoverBackgroundColor: [
                            "#FF6384",
                            "#36A2EB",
                            "#FFCE56"
                        ]
                    }]
            },
        });

        new Chart($("#transportChart"),{
            type: 'pie',
            data: {
                labels: {{ transport | keys |json_encode|raw }},
                datasets: [
                    {
                        data: [{{ transport | join(',') }}],
                        backgroundColor: [
                            "#FF6384",
                            "#36A2EB",
                            "#FFCE56"
                        ],
                        hoverBackgroundColor: [
                            "#FF6384",
                            "#36A2EB",
                            "#FFCE56"
                        ]
                    }]
            },
        });

        new Chart($("#fromChart"),{
            type: 'pie',
            data: {
                labels: {{ from | keys |json_encode|raw }},
                datasets: [
                    {
                        data: [{{ from | join(',') }}],
                        backgroundColor: [
                            "#FF6384",
                            "#36A2EB",
                            "#FFCE56"
                        ],
                        hoverBackgroundColor: [
                            "#FF6384",
                            "#36A2EB",
                            "#FFCE56"
                        ]
                    }]
            },
        });
    });
</script>
{% endblock %}
